
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
body{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* min-height: 100vh; */
  background: #17A2B8; 
}
::selection{
  color: #fff;
  background: #17A2B8;
}
.wrapper{
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
header{
  margin-top: 50px;
}
header h2{
  font-size: 24px;
  font-weight: 600;
}
header p{
  margin-top: 5px;
  font-size: 16px;
}
.price-input{
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17A2B8;
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

#submit{
  width: 150px;
  font-weight: 900;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 60px;
  background-color: rgba(0, 34, 255, 0.5);
  border-radius: 10px;
}
#product{
  margin-top: 100px;
display: flex;
grid-template-columns: repeat(2,1fr);
gap: 80px;
}
#product>div:nth-child(1){
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 1000px;
  
  
}
#product>div:nth-child(1):hover{
  border: 2px solid black;
}

.dropbtn {
  background-color: #999;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 350px;
}
.dropbtn>span{
  margin-left: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover{
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width: 300px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 900;
}

/* Change color of dropdown links on hover */
.dropdown-content>a:hover {
  background-color: rgb(15, 1, 1);
color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* ###################################################### */


.product-container {
  display: none;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Hide the browser's default checkbox */
.product-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.product-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.product-container input:checked ~ .checkmark {
  background-color: #2196F3;
}


.brandspart{
  display: flex;
  border: 2px solid rgba(250, 157, 18, 0.884);
}
.brandspart>button{
  margin-left: 250px;
 border: none;
 font-size: 40px;
  width: 60px;
  background-color: white;
}
.brandspart>button:hover{
  cursor: pointer;
  color: white;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.product-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.product-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sort{
  font-weight: 900;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  width: 350px;
  color: black;
  background-color: white;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  /* text-align: left; */
  top: 60px;
  right: 165px;
  
}
#sort{
  text-align: end;
}
#product-container{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  float: right;
  margin-top: 50px;
 

}
*{
  background-color: 
  #f5f7f7;
}



#product-container>div>img{
  width: 100%;
  transition:  ease-out 0.3s;
  overflow: hidden;
  
}
#product-container>div>div{
  width: 50%;
  display: flex;
  grid-template-columns: repeat(5,1fr);
  border: 2px solid white;
  gap: 20px;
}
#product-container>div>button{
  width: 100px;
  /* font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif; */
}



#brand>span{
margin-left: 100px;
font-size: 30px;
font-weight: 900;
/* font-display: none; */

}
form>legend{
 
}

form>div{
  display: none;
}
#brand>span:hover{
  font-size: 35px;
  font-weight: 10000;
  cursor: pointer;
}
#brand{
  margin-top: 20px;
  border: 2px solid white;
  
font-size: 20px;
font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
font-weight: 900;

height: 55px;
}
.input{
  font-weight: 900;
  border:2px solid gray;
  margin-top: 10px;
  width: 370px;
  height: 40px;
}

#product-container>img{
  width: 100%;
  transition: ease-out 0.5s;
}
#product-container>div>img:hover{
  transform: scale(1.2);
}
#product-container>div>button:hover{
  cursor: pointer;
}
#product-footer{
  background-color: white;
  text-align: left;
  padding-left: 5px;
  margin-top: 1400px;
}
#product-footer>h3{
  color: black;
  background-color: white;
}
#product-footer>p{
  color: rgb(2, 36, 2);
  background-color: white;
}
#product-footer>h4{
  color: rgb(240, 71, 71);
  background-color: white;
}
.product-footer{
  color:rgb(240, 71, 71);
  background-color: white;
}
.product-footer:hover{
  cursor: pointer;
  color: whiteyellow;
}